.details_content{
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows:1fr;
    gap:25px;
}

.details_content2{
    margin-top:30px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:2fr;
    gap:25px;
}

.details_text p{
    text-indent: 20px;
}

.details_text h2{
    font-size:1.2rem;
}

.details_content_map{
    width:100%;
}

@media only screen and (max-width: 1300px) {
    .details_content{
        display:block;
    }
    .details_content2{
        display:block;
    }
  }