/*Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root{
    --color-white:#ffffff;
    --color-black:#000000;
    --font-family: 'Roboto Slab', serif;
    --color-blue:#3f81d8;
    --color-blue2:#85c6f4;
    --background-color:#dcbd30;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:var(--font-family);
}

img{
    width:100%;
}

body{
    padding: 25px;
    background-color:var(--background-color);
}

a{
    all:unset;
    cursor:pointer;
}

/*header*/

header{
    border-bottom: 1.5px solid var(--color-black);
    height:100%;
}

.header_logo{
    display:flex;
}

.header_logo_icon{
    display:block;
}

.header_logo_text{
    display:inline-flex;
}

.ignore{
    display:flex;
    height:inherit;
    align-items:center;
    margin-left:auto;
}

/* header navbar*/
nav{
    display:flex;
    text-align:center;
    justify-content: center;
}

.nav_links{
    text-align:center;
    margin: 10px 25px 10px 25px;
    color:var(--color-black);
    font-size:1.2rem;
}

.nav_links:hover{
    color: var(--color-blue);
    border-radius:1%;
}

/*footer*/

footer{
    margin-top:100px;
    border-top: 1.5px solid var(--color-black);
}

.footer_content{
    text-align:center;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:100px;
    margin:auto;
}

@media only screen and (max-width: 1300px) {
    nav{
        display:inline-block;
    }
    .nav_links{
        margin:auto;
        display:inline-block;
    }

    .footer_content{
        display:block;
    }
}

